.main {
    /* display: inline; */
    height: 100vh;
    background-color: #032c55;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    margin-left: 300px;
    width: 77%;
}

.main_container{
    /* display: inline; */
    height: 100vh;
    background-color: #032c55;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px;
    /* margin: 0px; */
    margin: 0px auto;
    margin-left: 30px;
    width: 96%;
}