.control__sidebar {
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}

.control__sidebar-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 7vw;
    flex-direction: column;
}


/* Mi perfil */
.control__sidebar-perfil{
    padding-top: 10px;
    padding-left: 5px;
}


/* Imagen centrada y redonda*/
.control__entry-picture {
    
    /* box-shadow: 5px 5px #666; */
    width:150px;
    height:150px;
    border-radius:150px;
    border:10px solid #666;
    justify-content: center;
    
    
  }

  /* Panel de search debajo de logo*/

.control__sidebar-search {
    padding-top: 10px;
}