.nothing__main-content {
    align-items: center;
    background-color: rgb(153, 88, 214);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    /* padding-top: 0%; */

}
.nothing__main-content p {
    text-align: center;
}

.calls__textarea {
  /* border: none; */
  color: rgb(255, 255, 255);
  font-size: 20px;
  flex: 1 1 auto;
  height: 4.6em;
  text-align: justify;
  padding-left: 20px;
  padding-top: 10px;
}

